.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ########## */
.user-logo {
  background-color: #504d51;
  border: none;
  border-radius: 70%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-list {
  height: 70px;
  justify-content: flex;
  display: flex;
  align-items: center;
}
.navbar-list li {
  list-style-type: none;
}
.navbar-list li a {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-list li a:hover {
  background-color: rgb(47, 46, 46);
  transform: scale(1.1);
}



.overflow-scrolling {
  overflow-x: auto;
}
.overflow-scrolling::-webkit-scrollbar{
  width: 0;
}

.card{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(50, 46, 46, 0.5);
  
}
.card-image{
  inset: 0;
  object-fit: cover;
  opacity: .8;
  transition: .75s;
  
}
.card:hover .card-image{
  transform: scale(1.15);
  opacity: 1;
}

.section{ 
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(4, 4, 4, 0.5);
  background-color:rgb(72, 71, 71);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 60rem;
  margin: 4rem auto 0 auto;
}
.section img{
  width: 45%;
  height: 250px;
}
.section a{
  margin: 0;
  color:rgb(255, 255, 255);
}
.section li{
   color: rgb(216, 216, 216);
}

